/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/*asterisk wildcard selector to override default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*general project style*/
    color: #3a3a3a;
    font-family: Lato, sans-serif;
}

/*main*/
main {
    background-color: lightblue;
    flex: 1 0 auto;
}

/*footer*/
footer {
    background-color: orange;
}