/*asterisk wildcard selector to override default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*general project style*/
    color: #3a3a3a;
}

/*main*/
main {
    background-color: lightblue;
    flex: 1 0 auto;
}

/*footer*/
footer {
    background-color: orange;
}