/*asterisk wildcard selector to override default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*main*/
main {
    background-color: lightblue;
}

/*footer*/
footer {
    background-color: orange;
}